@model ProjetoBanco.Models.Hotel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeHotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeHotel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoHotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoHotel)
        </dd>
    </dl>
</div>
<div>
    <a class="a" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="a" asp-action="Index">Voltar para a lista</a>
</div>
