@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo(a)!</h1>
    <p>Horizon Seekers Travel, Onde a sua jornada começa além do horizonte!</p>
</div>
<div class="img-banner">
    <img class="img-banner2" src="/img/banner (2).png" />
</div>
