@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>A Horizon Seekers Travel valoriza a privacidade e a segurança das informações de seus usuários. Esta política de privacidade descreve como coletamos, usamos, compartilhamos e protegemos as informações pessoais que você nos fornece ao usar nosso site e nossos serviços relacionados.</p>
<p>Ao usar os serviços da Horizon Seekers Travel, você concorda com a coleta e o uso de suas informações pessoais de acordo com esta política de privacidade.</p>
<h4>1. Informações Coletadas</h4>
<p>Podemos coletar as seguintes informações pessoais quando você utiliza nosso site ou interage conosco:<p>
<p>Informações de identificação pessoal, como nome, endereço, e-mail, número de telefone e data de nascimento.
Informações de pagamento, como detalhes do cartão de crédito ou outras informações de pagamento.
Informações de viagem, como preferências de viagem, histórico de viagens e reservas anteriores.
Informações de login, como nome de usuário e senha.</p>
<p>Além disso, podemos coletar automaticamente certas informações sobre o dispositivo que você usa para acessar nosso site, como endereço IP, tipo de navegador, provedor de serviços de Internet, páginas de referência/saída e URLs, e dados de cookies.</p>
<h4>2. Uso de Informações</h4>
<p>Utilizamos as informações coletadas para os seguintes fins:</p>
<p>Fornecer e personalizar nossos serviços, incluindo reservas de viagens e serviços relacionados.
Processar transações e pagamentos.
Comunicar-se com você sobre reservas, suporte ao cliente e outros assuntos relacionados às suas viagens.
Melhorar e otimizar nosso site e serviços.
Cumprir com obrigações legais e regulatórias.
Proteger e garantir a segurança de nossos usuários e de nossos serviços.</p>
<h4>3. Compartilhamento de Informações</h4>
<p>Podemos compartilhar suas informações pessoais com terceiros apenas nas seguintes circunstâncias:</p>
<p>Com prestadores de serviços terceirizados que nos auxiliam na prestação de nossos serviços, como processamento de pagamentos, hospedagem de site e suporte técnico.
   Quando exigido por lei ou em resposta a processos legais.
   Em caso de fusão, aquisição ou venda de ativos da Horizon Seekers Travel, as informações do usuário podem ser transferidas como parte dessa transação.</p>
<p>Não vendemos, alugamos ou comercializamos suas informações pessoais para terceiros sem seu consentimento explícito.</p>
<h4>4. Cookies e Tecnologias Semelhantes</h4>
<p>Nosso site utiliza cookies e outras tecnologias de rastreamento para melhorar a experiência do usuário, personalizar conteúdo e anúncios, analisar o uso do site e fornecer funcionalidades de mídia social. Você pode optar por desativar cookies em seu navegador, mas isso pode afetar a funcionalidade do site.</p>
<h4>5. Segurança das Informações</h4>
<p>Implementamos medidas de segurança adequadas para proteger suas informações pessoais contra acesso não autorizado, uso indevido, alteração ou destruição. No entanto, é importante lembrar que nenhum método de transmissão pela Internet ou armazenamento eletrônico é 100% seguro, e não podemos garantir a segurança absoluta de suas informações.</p>
<h4>6. Links para Sites de Terceiros</h4>
<p>Nosso site pode conter links para sites de terceiros que não são operados por nós. Não nos responsabilizamos pelas práticas de privacidade ou pelo conteúdo desses sites. Recomendamos que você revise as políticas de privacidade desses sites de terceiros antes de fornecer qualquer informação pessoal.</p>
<h4>7. Consentimento</h4>
<p>Ao utilizar nosso site, você consente com a coleta e o uso de suas informações pessoais de acordo com esta política de privacidade.</p>
<h4>8. Contato</h4>
<p>Se você tiver alguma dúvida, preocupação ou solicitação relacionada a esta política de privacidade ou ao uso de suas informações pessoais, entre em contato conosco pelo seguinte endereço de e-mail: privacy@horizonseekerstravel.com.

Obrigado por confiar na Horizon Seekers Travel para suas necessidades de viagem. Estamos comprometidos em proteger sua privacidade e garantir que sua experiência conosco seja segura e satisfatória.</p>
